<div class="desktop-icons" id="desktop-icons" role="list" aria-label="Desktop shortcuts">
  <a class="desktop-icon" href="{{ '/' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/home.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Home</span>
  </a>
  <a class="desktop-icon" href="{{ '/projects' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/projects.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Projects</span>
  </a>
  <a class="desktop-icon" href="{{ '/blog' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/blog.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Blog</span>
  </a>
  <a class="desktop-icon" href="{{ '/gallery' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/gallery.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Gallery</span>
  </a>
  <a class="desktop-icon" href="{{ '/music' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/music.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Music</span>
  </a>
  <a class="desktop-icon" href="{{ '/resume' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/resume.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Resume</span>
  </a>
  <a class="desktop-icon" href="{{ '/guestbook' | relative_url }}" role="listitem">
    <span class="desktop-icon-glyph">
      <img src="{{ '/assets/images/icons/guestbook.png' | relative_url }}" alt="" width="128" height="128">
    </span>
    <span class="desktop-icon-label">Guestbook</span>
  </a>
</div>
